@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.collapse {
  visibility: visible;
}
/* 
.container {
  padding: 0 !important;
  width: 100% !important;
}

.container-fluid {
  
  padding: 0 !important;
  width: 100% !important;
 
} */
.col {
  padding: 0 !important;
}

.row {
  width: 100vw !important;
  /* padding: 0.5rem !important; */
}

.navbar {
  padding: 0 !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.slick-arrow:before {
  color: red !important;
  font-size: 40px !important;
  background-color: none !important;
}

.slick-arrow {
  /* font-size: 10rem !important; */
  /* color: black !important; */
  /* background-color: black !important; */
}

.slick-slider {
  position: relative;
 
}

.card {
  width: 400px !important;
  height: 400px !important;
}



.card img {
   width: 100% !important;
  /* height: 100% !important; */
  height: 130px !important;
  
}

.cards {
  width: 300px !important;
  height: 400px !important;
}

.cards img {
  width: 100% !important;
  height: 100% !important;
}

.img1 {
  object-fit: cover !important;
}

.slick-prev {
  /* transform: translate(350px, 150px) !important; */
  /* transform: translateY(150px) !important; */
  /* left: 20rem !important; */

  position: absolute !important;
  top: 22rem !important;
  left:  16rem !important;
  /* font-size: 13rem !important; */
 
}


.slick-next {
  /* transform: translate(350px, 150px) !important; */
  /* transform: translateY(150px) !important; */
  /* left: 20rem !important; */

  position: absolute !important;
  top: 16rem !important;
  right: 16rem !important;

 
}

#slider-boxes {
  display: flex !important;
}


.dAction:hover .icons {
  border: 2px solid white !important;
  color: white;
}

.navLink:hover {
  color:chocolate !important;
}

.expBtn:hover {
  background-color: transparent !important;
  color: black !important;
}
.findBtn:hover {
  background-color: white !important;
    color: black !important;
}

.expnBtn:hover {
  background-color: #4848cc !important;
    color: white !important;
}

@media all and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
  }

    .slick-prev {
    
  
      position: absolute !important;
      top: 22rem !important;
      left: 38rem !important;
  
  
    }
  
    .slick-next {
     
  
      position: absolute !important;
      top: 22rem !important;
      right: 40rem !important;
  
  
    }
  
}

@media all and (max-width: 768px) {
  .slick-prev {
      /* transform: translate(350px, 150px) !important; */
      /* transform: translateY(150px) !important; */
      /* left: 20rem !important; */
  
      position: absolute !important;
      top: 15rem !important;
      left: 7rem !important;
  
      
    }

        .slick-next {
          /* transform: translate(350px, 150px) !important; */
          /* transform: translateY(150px) !important; */
          /* left: 20rem !important; */
    
          position: absolute !important;
          top: 15rem !important;
          right: 9rem !important;
    
         
        }

        .slideDiv {
          height: 250px;
        }

        .slick-arrow:before {
         
          font-size: 35px !important;
          
        }

    /*     .dAction {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
       
        } */

      /*   .icons{
          
        } */
  
}
